<header class="header">
    <div class="nav-container">
      <div class="logo">
        <img src="/images/final-logo.png" alt="SCOSS Logo" />
        <div class="company-name">
          <h1 class="normal-name">SMART CODE SOFTWARE SOLUTIONS and SERVICES</h1>
          <h1 class="mobile-name">SCOSS</h1>
          <p>Growing Together for Tomorrow!</p>
      </div>
      </div>
      <nav class="nav-links">
        <a href="#">Home</a>
        <a href="#">Services</a>
        <a href="#">About us</a>
        <a href="#">Events</a>
        <a href="#">Gallery</a>
        <a href="#">Contact us</a>
      </nav>
    </div>  
  </header>
  