.header {
    background-color: #1c1b1b;
    padding: 10px 0;
    color: white;
  
    .nav-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
  
      .logo {
        display: flex;
        align-items: center;
        gap: 12px;
  
        img {
          width: 120px;
          height: auto;
        }
  
        .company-name {
          .normal-name {
            font-size: 18px;
            font-weight: bold;
          }
  
          .mobile-name {
            display: none;
          }
  
          p {
            font-size: 14px;
          }
        }
      }
  
      .nav-links {
        display: flex;
        gap: 30px;
  
        a {
          color: white;
          text-decoration: none;
          font-size: 16px;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
  
      .menu-icon {
        display: none;
  
        svg {
          width: 30px;
          height: 30px;
          fill: #e3e3e3;
        }
      }
    }
  
    @media (max-width: 1118px) {
      .nav-container {
        .nav-links {
          display: none;
        }
  
        .company-name {
          .normal-name,
          p {
            display: none;
          }
  
          .mobile-name {
            display: block;
            font-size: 18px;
            font-weight: bold;
          }
        }
  
        .menu-icon {
          display: block;
        }
      }
    }
  }
  