<div class="wrapper">

    <section class="hero-section">
        <h1>Leading IT Services Company in Tumkur | Digital Transformation Services</h1>
        <p>Transform your business with our comprehensive IT services, custom software
            development, and technology consulting. Get expert solutions tailored to your needs.</p>
        <div>
            <a class="get-it">Get a Free IT Consultation </a>
            <a class="explore" routerLink="service"><span>Explore Our Services</span><svg xmlns="http://www.w3.org/2000/svg"
                    height="24px" viewBox="0 -960 960 960" width="24px" fill="#0000FF">
                    <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z" />
                </svg></a>
        </div>
    </section>


    <section class="value-proposition-section">
        <h2>Why Choose Us?</h2>
        <ul>
            <li><img src="images/services icon/comprehensive-it-solutions.png"
                    alt=""><span >Comprehensive IT Solutions Tailored to Your Needs</span></li>
            <li><img src="images/services icon/affordable-and-scalable.png">
                <span >Expertise in IT Infrastructure, Cloud Solutions and Cybersecurity</span></li>
            <li><img src="images/services icon/expertise-in-it.png"
                    alt=""><span >Affordable and Scalable Digital Marketing Services</span></li>
        </ul>
        <div>
            <a><span>Schedule a Free IT Consultation</span><svg xmlns="http://www.w3.org/2000/svg"
                height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
                <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z" />
            </svg></a>
        </div>
    </section>


    <section class="services-overview-section">
        <h2>Our IT Services</h2>
        <p class="sub-title">Explore our wide range of IT services designed to support your business needs:</p>

        <div class="services">
            <div class="service-card" appearance="outlined" *ngFor="let data of servicesData">
                <div class="image-container">
                    <img src={{data.iconURL}} alt="">
                </div>
                <b>
                    <p class="service-heading">{{data.title}}</p>
                </b>
                <p>{{data.description}} </p>
                <p><b>Key Features:</b></p>
                <p>{{data.features}}</p>
                <a routerLink="{{data.routerLink}}"><span>{{data.buttonName}}</span><svg xmlns="http://www.w3.org/2000/svg"
                    height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
                    <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z" />
                </svg></a>
            </div>
        </div>

    </section>


    <section class="about-us-section">
        <section class="trusted-partner">
            <section class="content">
                <h2>Your Trusted IT Partner in Tumkur</h2>
                <p>Based in Tumkur, we are a team of dedicated IT professionals committed to delivering high-quality
                    services. Our mission is to help businesses thrive in today’s digital era with reliable and
                    innovative
                    IT solutions.</p>
            </section>
            <section class="company-image-section">
                <div class="image-container">
                    <img src="images/company-image.jpg" alt="" srcset="">
                </div>
            </section>
        </section>
        <section>
            <div>
                <h2>Serving Industries Across Tumakuru</h2>
                <ul>
                    <li><img src="images/icons/Manufacturing Units.png" alt="">Manufacturing Units</li>
                    <li><img src="images\icons\Educational Institutions.png" alt="">Educational Institutions</li>
                    <li><img src="images\icons\Healthcare Facilities.webp" alt="">Healthcare Facilities</li>
                    <li><img src="images\icons\Retail Businesses.png" alt="">Retail Businesses</li>
                    <li><img src="images\icons\Professional Services.png" alt="">Professional Services</li>
                    <li><img src="images\icons\Small & Medium Enterprises.png" alt="">Small & Medium Enterprises</li>

                </ul>
            </div>
        </section>
        
        <section class="why-partner-with-us">
            <h2>Why Partner with Us for Your IT Needs?</h2>



            <ul>
                <li><img src="images/icons/green-tick.webp" alt="">Based in Tumkur</li>
                <li><img src="images/icons/green-tick.webp" alt="">Understanding of local business environment</li>
                <li><img src="images/icons/green-tick.webp" alt="">Bilingual support team: 24/7 technical support in
                    Kannada and English</li>
                <li><img src="images/icons/green-tick.webp" alt="">Regular client visits</li>
            </ul>
        </section>
    </section>


    <section class="our-clients">
        <h3>Our Clients</h3>
            <ul>
                <li><img src="images/clients/codeeasy-logo.png" alt=""></li>
                <li><img src="images/clients/goas-logo.webp" alt=""></li>
                <li><img src="images/clients/agritech-logo.jpg" alt=""></li>
                <li><img src="images/clients/anon-logo.jpg" alt=""></li>
                <li><img src="images/clients/quest-alliance-logo.png" alt=""></li>
            </ul>
    </section>

    <section class="call-to-action">
        <div>
            <h2>Start Your Digital Journey Today</h2>
            <p>Schedule a free consultation with our experts and discover how we can help you achieve your
                technology goals.</p>
            <a>Book Free Consultation</a>
        </div>
        <div class="info">
            <h2>Get in Touch with Us Today</h2>
            <p>Ready to take your business to the next level? Contact us to discuss your IT needs.</p>
            <ul>
                <li><img src="images\icons\phone.webp" alt="">9113030506 / 8971417455</li>
                <li><img src="images\icons\mail.png" alt="">Email: scossservices&#64;gmail.com</li>
                <li><img src="images\icons\location.png" alt="">Ground Floor SLN Krupa, 2nd Stage 2nd Main Mahalakshmi
                    Nagar, Batawadi, Tumkur - 572103
                </li>
                <li>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3882.38710482395!2d77.12736907226046!3d13.326179487022745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2f1f67bd60167d69%3A0x50d617767a87848!2sSCOSS%20SERVICES!5e0!3m2!1sen!2sin!4v1726842572816!5m2!1sen!2sin"
                        style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </li>
            </ul>
        </div>
    </section>